<?xml version="1.0" encoding="UTF-8"?>

<web-app>  
  
<servlet>  
<servlet-name>signin</servlet-name>  
<servlet-class>signin</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>signin</servlet-name>  
<url-pattern>/signin</url-pattern>  
</servlet-mapping>

<servlet>  
<servlet-name>signup</servlet-name>  
<servlet-class>signup</servlet-class>  
</servlet>  
  
<servlet-mapping>  
<servlet-name>signup</servlet-name>  
<url-pattern>/signup</url-pattern>  
</servlet-mapping> 
  
</web-app>